<!doctype html>

<html ng-app="gameDay">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>admin</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

	<script src="js/controllers/admin.js"></script>
	<script src="js/services/teams.js"></script>
	<script src="js/core.js"></script>

</head>
<body ng-controller="adminController">
	<div class="container">

        <div>
            <br/><br/><br/>
            Admin <br/>
            <input type="text" ng-model="securityCode" /><br/>
            <span ng-click="clearAll()">Clear everything</span> |
            <span ng-click="initTeams()">Fetch teams</span> |
            <span ng-click="initAllEvents()">Fetch Games by team</span> |
            <span ng-click="boxScoreForCompleted()">Fetch box score for finished games</span> |
            <span ng-click="twitterSearch()">twitterSearch</span> |
            <span ng-click="twitterForCompleted()">twitterForCompleted</span>
            <span ng-click="deleteTwitterMsgs()">deleteTwitterMsgs</span>
        </div>

        <div ng-if="funcCalled">
            Function Called: {{funcCalled}}
        </div>

        <div>
            <span ng-click="initEvents(team.team_id)">Teams:</span><br/><br/><br/>
            <span ng-repeat="team in teams">
                {{ team}}
                <br/><br/><br/>
            </span>
        </div>

	</div>

</body>
</html>
